* {
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "opt opt opt"
    "can can can"
    "buttons buttons buttons";
}

#optionsDiv {
  grid-area: opt;
  display: flex;
  justify-content: center;
}

#colorPickerDiv {
  margin-right: 20px;
  position: relative;
  width: auto;
  font-size: xx-large;
}

#brushSelDiv {
  margin-right: 20px;
  position: relative;
  width: auto;
  font-size: xx-large;
}

  #brushSel {
    width: 180px;
    height: 30px;
    position: relative;
    font-size: x-large;
  }

#shapeSelDiv {
  margin-right: 20px;
  position: relative;
  width: auto;
  font-size: xx-large;
}

#sliderDiv {
  margin-right: 20px;
  position: relative;
  width: auto;
  font-size: xx-large;
}

#canvasDiv {
  grid-area: can;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;
  width: auto;
  font-size: xx-large;
}

#buttonsDiv {
  grid-area: buttons;
  position: relative;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 80px;
}

#topNav {
  font-size: x-large;
  background-color: #C4F4AD;
  grid-area: header;
}

#menuList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menuList li {
  float: left;
}

#menuList li.right {
  float:right;
}

#menuList li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  border: #91f164 solid;
}

#divSelScreen {
  grid-area: selection;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

#inputOption {
  grid-area: input;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  font-size: x-large;
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: gray;
  margin-top: 50px;
}

#selScreen {
  height: auto;
  width: 80%;
  margin: 20px;
  padding: 5px;
  text-align: center;
  font-size: x-large;
}

